* {
    box-sizing: border-box;
  }
  .slider {
    position: relative;
    width: 600px;
    height: 200px;
    margin: 50px auto 0;
    user-select: none;
    touch-action: pan-y;
  }
  
  .slider img {
    poiner-events: none;
  }
  
  .slider-list {
    width: 600px;
    height: 200px;
    overflow: hidden;
  }
  
  .slider-list.grab {
    cursor: grab;
  }
  
  .slider-list.grabbing{
    cursor: grabbing;
  }
  
  .slider-track {
    display: flex;
  }
  
  .slide {
    width: 600px;
    height: 200px;
    flex-shrink: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
  }
  
  .slider-arrows {
    margin-top: 15px;
    text-align: center;
  }
  
  .next,
  .prev {
    background: none;
    border: none;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .next.disabled,
  .prev.disabled {
    opacity: .25;
    pointer-events: none;
  }