html {
    font-size: 22px;
}

body {
    padding: 10%;
    background-color: #f4f4f4;
    color: rgb(18, 1, 1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    width: 80%;
}

.main__content {
    scroll-margin-top: 110px;
}

#logo {
    height: 100px;
}

.social {
    height: 40px;
}

img {
    height: 300px;
    
    border-radius: 10px;
}

.my__photo {
    margin: 10px;
    padding: 10px 5px 10px 5px;
}

#section_main {
    display: flex;
    justify-content: space-between; 
}

#aboutMe {
    border: dotted 5px red;
}

li {
    display: inline-block;
    margin: 0 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    position: fixed; 
    bottom: 0;
    width: 80%;
}