* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

body {
    /* padding: 10%; */
    background-color: #f4f4f4;
    color: rgb(18, 1, 1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav__ul {
    list-style-type: none;
    padding: 10px;
}

.nav__li {
    display: inline-block;
    margin-inline: 10px;
}

.nav__link {
    text-decoration: none;
    color: rgb(18, 1, 1);
}

.nav__link:hover, .nav__link:focus {
    text-decoration: underline;    
}

.nav__link:visited {
    color: rgb(18, 1, 1);
}

.main__content {
    margin-top: 110px;
    scroll-margin-top: 110px;
    margin-left: 20px;
    margin-right: 20px;
}

.nav__logo {
    height: 150px;
    margin-left: 20px;
}

.social {
    height: 40px;
}

.my__photo {
    height: 300px;    
    border-radius: 10px;    
}

#section_main {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
}

#aboutMe {
    border: dotted 5px red;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    position: fixed; 
    bottom: 0;
    width: 80%;
}

.construction {
    height: 400px;

}

.img__construction {
    display: flex;
    justify-content: center;
}